body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, #db70df, #6e5cda);
}
body::-webkit-scrollbar{
    display: none;
}

header, section, footer{
    font-family: sans-serif;
}

header{
    height: 25vh;
    color: white;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -40px;
}

#projects ul li{
    list-style-type: none;
    line-height: 1.6rem;
}
#projects ul li a{
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

#projects ul li:last-child, #details{
    opacity: 0.7;
}

#details{
    margin-left: -60px;
}

@media(max-width: 768px){
    header{
        font-size: 3rem;
    }
    #main{
        margin-left: -50px;
    }
}