.calculator{
    width: 300px;
    padding: 0;
    margin: 0;
}

#input-box{
    width: 100%;
    height: 80px;
    font-family: sans-serif;
    background-color: #c5b9b9;
    padding: 15px;
    box-sizing: border-box;
    font-size: 3rem;
    text-align: right;
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}


#input-box::-webkit-outer-spin-button,
#input-box::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#input-box{
    -moz-appearance: textfield;
}

.level{
    width: 100%;
    height: 16%;
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

button:last-child{
    background: linear-gradient(#921f1f, #c25b5b);
}


button{
    height: 100%;
    width: 23.5%;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 10px;
    margin: 0;
    border: 0;
    border-radius: 5px;
    background: linear-gradient(180deg, #4c4c4c, #9b9898);
}
